.analytics-container{
    display: flex;
    justify-content: space-evenly;
    color: white;

}
.analytics-item{
    width: 25%;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px; /* Add margin between items */

}

  .background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px; 
    border-radius: 10px; 
  }
  

  .analysis-page{
    display: flex;
    justify-content: space-evenly;

  }
  .analysis-items{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0);
    font-size: 17px;
    justify-content: space-between; 
    align-items: center;
    box-shadow: 4px 4px 4px 4px rgba(91, 91, 91, 0.1);

  }
   .analysis-items span {
    margin-left: 100px;
    font-weight: bold;
  
  }
